version: '2'
services:
  mongoangularspringbootapp-app:
    image: mongoangularspringbootapp
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod,swagger
      - MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED=true
      - SPRING_DATA_MONGODB_URI=mongodb://mongoangularspringbootapp-mongodb:27017
      - SPRING_DATA_MONGODB_DATABASE=mongoAngularSpringBootApp
      - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
    ports:
      - 8383:8383
  mongoangularspringbootapp-mongodb:
    extends:
      file: mongodb.yml
      service: mongoangularspringbootapp-mongodb
